// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    background-color: #0c64a2;
    padding: 0.35rem 1rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-content {
    flex: 1;
}

.table th, .table td {
    padding: 0.55rem 0.75rem;
}
